.avatar {
  border-radius: 100%;
  background-color: var(--avatar-background);
  display: block;

  span {
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 0 black;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
  }

  // Flex
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    border: 1px solid var(--primary-dark);
  }
}
