.credentials {
  padding: 2rem 1rem;

  &__img {
    width: 100%;
    @media (max-width: 990px) {
      margin-bottom: 2rem;
    }
  }

  &__title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }

  &__help {
    font-size: 1rem;
    text-align: center;
  }

  .ant-spin-dot-item {
    background-color: black;
  }

  &__invalid-token {
    text-align: center;

    .icon {
      font-size: 5rem !important;
      margin-bottom: 1rem;
      color: red;
    }

    h1 {
      font-size: 2rem;
      font-weight: bold;
    }

    a {
      display: inline-block;

      &:hover {
        color: black;
      }
    }
  }
}
