.credentials {
  padding: 2rem 1rem;

  &__img {
    width: 100%;
    @media (max-width: 990px) {
      margin-bottom: 2rem;
    }
  }

  &__title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }

  &__help {
    font-size: 1rem;
    text-align: center;
  }
}
