.data {
  padding: 2rem 1rem;

  .btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
  }

  .edit {
    color: #1890ff;
    font-size: 1.5rem;

    &:hover {
      color: #69c0ff;
    }
  }

  .delete {
    color: #f5222d;
    font-size: 1.5rem;

    &:hover {
      color: #ff4d4f;
    }
  }

  &__add {
    margin-bottom: 1.5rem;

    // Flex
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__form {
    text-align: center;

    .ant-spin-dot-item {
      background-color: black;
    }
  }

  .ant-table-thead {
    border-radius: 0.5rem;
  }

  .ant-table-thead > tr > th {
    color: var(--primary-color);
    background-color: black;
    font-weight: bold;
  }

  .avatar-uploader > .ant-upload {
    width: 128px;
    height: 128px;
  }
}
