.data {
  padding: 2rem 1rem;

  &__edit {
    font-size: 1.5rem;
  }

  &__delete {
    color: #f5222d;
    font-size: 1.5rem;

    &:hover {
      color: #ff4d4f;
    }
  }

  .ant-table-thead {
    border-radius: 0.5rem;
  }

  .ant-table-thead > tr > th {
    color: var(--primary-color);
    background-color: black;
    font-weight: bold;
  }

  .avatar-uploader > .ant-upload {
    width: 128px;
    height: 128px;
  }
}
