.not-found {
  height: 80vh;
  text-align: center;

  // Flex
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  a {
    display: inline-block;
  }
}
